@tailwind base;
@tailwind components;
@tailwind utilities;

/* end body dr baih style biclee */
@layer components {
    .body {
     background-color: #fff3d3;
     margin: auto;
    }
  }
  @layer components {
    .icon {
   border: 2px solid black;
   border-radius: 50%;
   margin: 8px;
   padding: 5px;
    }
  }